@import 'node_modules/bootstrap/scss/bootstrap';

#banner{
    height:100vh;

    .bannerSpace{
        height: 5vh;
        background-color:transparent;
    }

    #topBanner{
        background-image: linear-gradient(to bottom left,#61dafb 10%, $dark 90%);
        height: 20vh;
        #topRound{
            height: 15vh;
            border-radius: 90% 0% 0% 0%;
        }
    }
    
    #midBanner{
        height: 60vh;
    }

    #bottomBanner{
        background-image: linear-gradient(to top right,#61dafb 10%, $dark 90%);
        height: 20vh;
        #bottomRound{
            height: 15vh;
            border-radius: 0% 0% 90% 0%;
        }
    }
    .bannerLink{
        font-size: 1em;
        max-width: 50vw;
    }
}

#bannerName{
    max-width: 50vw;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    @media screen {
        animation-name: swing;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

}

.glitchClass{
    position: relative;
    &::before, &::after{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &::before{
        left:2px;
        text-shadow: -1px 0 red;
        animation-name: glitch;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 0.5s;
    }

    &::after{
        left: -2px;
        text-shadow: -1px 0 blue;
        clip: rect(29px, 450px, 16px, 0);
        animation-name: glitch;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
}

  @keyframes glitch {
    $timeFrames: 20;
    
    @for $i from 0 through $timeFrames {
      #{percentage($i*(1/$timeFrames))} {
        $bottom: random(100);
        clip: rect(random(100-$bottom + 1)+vh, 100vw, $bottom+vh, 0);
      }
    }
  }


@keyframes swing {
    0% { transform: skewX(70deg); }
    0% { transform: skewX(-70deg); }
    2% { transform: skewX(60deg); }
    4% { transform: skewX(30deg); }
    6% { transform: skewX(0deg); }
    8% { transform: skewX(-15deg); }
    10% { transform: skewX(15deg); }
    12% { transform: skewX(-15deg); }
    14% { transform: skewX(0deg); }
  }






