@import 'node_modules/bootstrap/scss/bootstrap';
@import '../glitch.scss';
@import '../typing.scss';

$breakpoint-tablet: 768px;

.section{
    font-family: 'Courier New', Courier, monospace;
    height:100vh;
   

    .sectionSpace{
        height: 5vh;
        background-color:transparent;
    }

    .topSection{
        
        height: 20vh;
        .topRound{
            height: 15vh;
            border-radius: 90% 0% 0% 0%;
        }
    }
    
    .midSection{
        min-height: 60vh;
        width: 80vw;
        box-shadow: 20px 20px 5px #27292b;
    }

    .bottomSection{
        height: 20vh;
        .bottomRound{
            height: 15vh;
            border-radius: 0% 0% 90% 0%;
        }
    }
    .sectionLink{
        font-size: 1em;
        max-width: 50vw;
    }
}

.sectionTitle{
    font-size: 4em;
    @media (max-width: $breakpoint-tablet) {
        font-size: 2em;  
    }
}

.titleType{
    animation:
        hide 2s,
        swing 3s ease 2s;
}

.sectionSubTitle{
    font-size: 1em;
    @media (max-width: $breakpoint-tablet) {
        font-size: 0.5em;  
    }
}

.typeAnimation{
    animation: 
        showText 2s steps(40,end) 2s forwards,
        flashingCursor 0.5s step-end 2s 4;
}

@keyframes swing {
    0% { transform: skewX(70deg); }
    0% { transform: skewX(-70deg); }
    2% { transform: skewX(60deg); }
    4% { transform: skewX(30deg); }
    6% { transform: skewX(0deg); }
    8% { transform: skewX(-15deg); }
    10% { transform: skewX(15deg); }
    12% { transform: skewX(-15deg); }
    14% { transform: skewX(0deg); }
  }






