.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#appBody{
    background: radial-gradient(#343a40 40%,#61dafb);
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100vw;

    & .midSection{
        border-radius: 1em;
    }
    
    & .topSection{
        background-image: linear-gradient(to bottom left,#61dafb 10%, #343a40 90%);
    }

    & .bottomSection{
        background-image: linear-gradient(to top right,#61dafb 10%, #343a40 90%);
    }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divider{
  width: 100%;
  height: 1vh;
  background: #343a40;
}
